header{
	text-align: center;


}
nav{
	text-align: center;
	background-color: lightgray;
	margin: 10px;
	padding-top: 20px;
	padding-bottom: 10px;


}
a{
	padding-right: 5px;
}

p{
	text-align: center;
}
#Feature{
	text-align: center;
	background-color: lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px;
}

.row{
	
}
.column{

	width: 33.33%
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	background-color: lightgray;
	
}

footer{

	background-color: lightgray;
	
	margin: 10px;
}

